<a href="https://colab.research.google.com/github/asheerali/Microbusiness_density_Forecasting/blob/main/data_extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("train.csv")

In [ ]:
df.head()

,row_id,cfips,county,state,first_day_of_month,microbusiness_density,active
0,1001_2019-08-01,1001,Autauga County,Alabama,2019-08-01,3.007682,1249
1,1001_2019-09-01,1001,Autauga County,Alabama,2019-09-01,2.884870,1198
2,1001_2019-10-01,1001,Autauga County,Alabama,2019-10-01,3.055843,1269
3,1001_2019-11-01,1001,Autauga County,Alabama,2019-11-01,2.993233,1243
4,1001_2019-12-01,1001,Autauga County,Alabama,2019-12-01,2.993233,1243

In [ ]:
df = df[["first_day_of_month","microbusiness_density"]]

In [ ]:
df

       first_day_of_month  microbusiness_density
0              2019-08-01               3.007682
1              2019-09-01               2.884870
2              2019-10-01               3.055843
3              2019-11-01               2.993233
4              2019-12-01               2.993233
...                   ...                    ...
122260         2022-06-01               1.803249
122261         2022-07-01               1.803249
122262         2022-08-01               1.785395
122263         2022-09-01               1.785395
122264         2022-10-01               1.785395

[122265 rows x 2 columns]

In [ ]:
len(df_date)

122265

In [ ]:
df["first_day_of_month"]  = pd.to_datetime(df["first_day_of_month"])

In [ ]:
df["first_day_of_month"] = (df["first_day_of_month"] - df["first_day_of_month"].min()) / np.timedelta64(1,'D')

In [ ]:
df

        first_day_of_month  microbusiness_density
0                      0.0               3.007682
1                     31.0               2.884870
2                     61.0               3.055843
3                     92.0               2.993233
4                    122.0               2.993233
...                    ...                    ...
122260              1035.0               1.803249
122261              1065.0               1.803249
122262              1096.0               1.785395
122263              1127.0               1.785395
122264              1157.0               1.785395

[122265 rows x 2 columns]

In [ ]:
df.to_csv('date.txt', index=False, header = False,sep=',')